---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
import LinkIcons from "../components/LinkIcons.astro";
import LinkButtons from "../components/LinkButtons.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <div class="fixed inset-0">
    <img
      class="h-screen w-full object-cover brightness-40"
      alt=""
      aria-hidden="true"
      src="/bg.gif"
      decoding="async"
      loading="lazy"
    />
  </div>

  <main class="relative z-10 min-h-screen w-full">
    <div class="mx-auto my-20 max-w-2xl space-y-6 p-3">
      <Header />
      <LinkIcons />
      <LinkButtons />
      <Footer />
    </div>
  </main>
</Layout>
