---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="fixed inset-0">
      <img
        class="relative h-screen w-full object-cover"
        alt=""
        aria-hidden="true"
        src="/bg.gif"
        decoding="async"
        loading="lazy"
      />
      <div class="absolute inset-0 bg-black/60"></div>
    </div>
  </main>
</Layout>
